<div class="index-page">
  <h1 class="invite-header">Invite</h1>

  <div class='column row'>
    <div class="small-12 medium-6 large-4 medium-centered large-centered columns">
      <%= form_for [@event, @invite] , :url => invites_path do |f| %>
        <div class="column row">
          <%= f.hidden_field :event_id, value: params[:id] %>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div class='button' id='invite-button'>
          <center><i class="fa fa-envelope-o" aria-hidden="true"></i><%= f.submit 'Send' %></center>
        </div>
      <% end %>
    </div>
  </div>
</div>
