<div class="index-page">
  <div class="login-page">
    <% provide(:title, "Log in") %>
    <h1 class="login-header">Log In</h1>

    <div class="column row">
      <div class="small-12 medium-6 large-4 medium-centered large-centered columns">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <center><%= f.submit "Log In", class:"button login-button" %></center>
        <% end %>
        <br>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
  </div>
</div>
