  <div class="edit-profile-page">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to "Back to My Profile", :back, id:'back-button' %>

    <h1 class="edit-profile-header">Edit My Profile</h1>

    <div class="column row">
      <div class="small-12 medium-6 large-4 medium-centered large-centered columns">
        <%= form_for(@current_user) do |f| %>
          <div class='column row'>
          <%= render 'shared/error_messages' %>

          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>

          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>

          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password, "Password*" %><i>Please enter your password to make changes.</i>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "Password confirmation*" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.label :avatar, "Avatar" %>
          <%= f.file_field :avatar, class: 'form-control' %>
        </div>

          <center><%= f.submit "Edit my profile", class:"button", id: "edit-account-button" %></center>
        <% end %>
      </div>
    <div class='account-cancel'>
      <h3>Cancel my account</h3>

      <p>Unhappy?</p>
      <center><%= button_to "Delete my account", '/users/destroy', class: 'button', id: 'delete-account-button', data: { confirm: "Are you sure?" } %></center>


    </div>
  </div>
