<div class="index-page">
  <div class="log-in-page">
    <% provide(:title, 'Sign up') %>
    <h1 class="signup-header">Sign Up</h1>

    <div class="column row">
      <div class="small-12 medium-6 large-4 medium-centered large-centered columns">
        <%= form_for(@user, url: signup_path) do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>

          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>

          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "Password confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.label :avatar, "Avatar" %>
          <%= f.file_field :avatar, class: 'form-control' %>

          <center><%= f.submit "Create my account", class:"button signup-button" %></center>
        <% end %>
      </div>
    </div>
  </div>
</div>
