<div class="edit-event-box">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<%= link_to "Back to Event", :back, id:'back-button' %>
<h1 class="edit-event-header">Edit Your Event</h1>

  <div class="column row">
    <div class="small-12 medium-6 large-4 medium-centered large-centered columns">
      <%= form_for @event, :url => event_path(@event), method: "put" do %>
        <div class="column row">
          <label>Name:</label><br>
          <%= text_field_tag :name, @event.name %> <br>

          <%= hidden_field :user_id, value: @event.user_id %>

          <label>Description</label><br>
          <%= text_area_tag :description, @event.description %><br>

          <label>Cutoff Time:</label><br>
          <%= date_field_tag :cutoff_time, @event.cutoff_time %> <br>
        </div>

        <center><div class='button' id='edit-event-button'>
          <%= submit_tag "Save Changes", id:'rails-edit-event-button' %>
        </div></center>
      <% end %>
    </div>
  </div>
</div>
