<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Eventor" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= favicon_link_tag "Logo_b_w.png" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="body">
        <div class="login-name">
          <% if current_user %>
            Signed in as <strong><%= current_user.username %></strong>!
            <%= link_to fa_icon("off", text: "Log Out", class:"sign-out-button", id: "logout-button"), logout_path %>
          <% else %>
            <%= link_to "Sign Up", signup_path, class:"sign-up", id: "sign_in" %>
            <%= link_to "Log In", login_path, class:"sign-up", id: "sign_in"%>
          <% end %>
        </div>
    <% flash.each do |key, value| %>
      <div class="flash-container">
        <%= value %>
      </div>
    <% end %>
    <div class="main-page">
      <%= yield %>
    </div>


  </body>
</html>
